.DetailsPage {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 21px;

  .detailsHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    padding: 10px 0;

    .backBtn {
      background: transparent;
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      border: none;
      outline: none;
      cursor: pointer;

      span {
        margin-right: 5px;
      }
    }
  }

  .detailsBody {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;

    .imgsAndDetails {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 60px;
      width: 100%;
      border-bottom: 1px solid #c6c6c6;
      padding-bottom: 30px;

      .imgs {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
      }

      .info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 490px;

        .titleCodePrice {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border-bottom: 1px solid #c6c6c6;

          h3 {
            font-size: 24px;
            font-weight: 500;
            color: #1a1a1a;
            margin: 0 0 5px 0;
            line-height: 16px;
          }

          .code {
            font-size: 12px;
            font-weight: 400;
            color: #1a1a1a;
            margin: 5px 0;
          }

          .desc {
            font-size: 12px;
            font-weight: 400;
            color: #747474;
            margin: 5px 0;
          }

          .price {
            font-size: 18px;
            font-weight: 400;
            color: #171717;
            margin: 5px 0 10px 0;
          }
        }

        .detailInfo {
          padding: 0;
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          border-bottom: 1px solid #c6c6c6;
          padding-bottom: 5px;

          ul {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 5px 0;
              cursor: pointer;
              user-select: none;

              span {
                font-size: 14px;
                font-weight: 500;
              }
            }

            .colorList {
              display: flex;
              align-items: flex-start;
              flex-direction: row;
              gap: 8px;
              list-style: none;
              padding: 0;

              .colorItem {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background: darkseagreen;
                }
              }
            }
          }
        }

        .damperBlock {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 10px 0;
          border-bottom: 1px solid #c6c6c6;

          .damperInfo {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            height: 120px;
            margin-left: 10px;

            .infoTop {
              display: flex;
              align-items: flex-start;
              flex-direction: column;

              h3 {
                font-size: 14px;
                font-weight: 500;
                color: #1a1a1a;
                margin: 0;
              }

              .priceWithDamper {
                font-size: 14px;
                font-weight: 400;
                color: #1a1a1a;
                margin: 0;
              }

              .damperDesc {
                font-size: 12px;
                font-weight: 400;
                color: #747474;
                margin: 10px 0;
                max-width: 295px;
              }
            }

            .addToCard {
              border: none;
              background: transparent;
              outline: none;
              color: #000000;
              cursor: pointer;
              font-size: 13px;
              font-weight: 500;
              text-decoration: underline;
              padding: 0;
            }
          }
        }

        .countAndAdd {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;

          .count {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .incDecBtn {
              border: none;
              outline: none;
              background: transparent;
              font-size: 29px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 20px;
            }

            span {
              font-size: 20px;
              font-weight: 500;
              color: #1a1a1a;
            }

            input {
              border: none;
              outline: none;
              background: transparent;
              width: 40px;
              // padding: 0 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-size: 20px;
              font-weight: 500;
              color: #1a1a1a;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            input[type="number"] {
              -moz-appearance: textfield;
            }
          }

          .addCardBtn {
            width: 190px;
            height: 48px;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            border: none;
            border-bottom: 1px solid #000000;
            outline: none;
            background: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            span {
              margin-left: 10px;
            }
          }
        }
      }
    }

    .schemeBlock {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
    }

    .doorsBlock {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .txtBlock {
        width: 550px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        h3 {
          font-size: 16px;
          font-weight: 500;
          color: #000000;
          line-height: 20px;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          color: #101010;
          padding: 0;
          margin: 0;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: #101010;
        }

        .assemblyBtn {
          border: none;
          padding: 0;
          outline: none;
          background: transparent;
          font-size: 14px;
          font-weight: 500;
          text-decoration: underline;
          color: #1a1a1a;
          margin-top: 10px;
        }
      }
    }

    .viewSectionsBlock {
      width: 100vw;
      height: 541px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 50px 0;

      .viewControls {
        width: 50%;
        height: 100%;
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 60px;

        .control {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;
          cursor: pointer;

          span {
            font-size: 24px;
            font-weight: 500;
            color: #a3a3a3;
            line-height: 28px;
          }
        }

        .controlActive {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 0;
          cursor: pointer;

          span {
            font-size: 24px;
            font-weight: 500;
            color: #ffffff;
            line-height: 28px;

            svg {
              path {
                fill: #ffffff;
              }
            }
          }
        }
      }

      .views {
        width: 50%;
        height: 100%;
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 60px;

        .prodDetails {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          h4 {
            font-size: 24px;
            font-weight: 500;
            color: #1a1a1a;
            margin-top: 0;
            line-height: 28px;
          }

          p {
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            margin: 0;
            line-height: 20px;
          }
        }

        .whatsIncluded {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          h4 {
            font-size: 24px;
            font-weight: 500;
            color: #1a1a1a;
            margin: 0;
            line-height: 28px;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            color: #747474;
            line-height: 17px;
          }

          .detail1 {
            display: flex;
            align-items: flex-start;
            border-bottom: 1px solid #c6c6c6;
            max-width: 440px;
            padding: 20px 0;

            .detail1Info {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              height: 100%;
              margin-left: 15px;

              h5 {
                font-size: 14px;
                font-weight: 500;
                color: #000000;
                margin: 0;
              }

              p {
                font-size: 12px;
                font-weight: 400;
                color: #a3a3a3;
                line-height: 17px;
                margin-top: 10px;
                margin-bottom: 20px;
              }

              .quantity {
                background: #f2f2f2;
                width: 97px;
                height: 26px;
                font-size: 12px;
                font-weight: 400;
                color: #414141;
                border: none;
                outline: none;
              }
            }
          }
        }

        .returnPolicy {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .shippingReturn {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 30px;

            h4 {
              font-size: 24px;
              font-weight: 500;
              color: #1a1a1a;
              line-height: 28px;
              margin: 0;
            }

            p {
              font-size: 16px;
              font-weight: 400;
              color: #000000;
              line-height: 20px;
            }
          }
        }
      }
    }
    .suggestedProds {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 24px;
        font-weight: 500;
        color: #000000;
        line-height: 40px;
        margin: 0;
      }

      .allKorpuses {
        border: none;
        outline: none;
        width: 163px;
        height: 47px;
        background: #000000;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.6px;
        margin-top: 40px;
        cursor: pointer;
      }
    }
  }
}
