.Footer {
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 58px 60px 32px 60px;

  .footerTop {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;

    .footerContent {
      display: flex;
      align-items: flex-start;
      width: 608px;
      justify-content: space-between;

      ul {
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        li {
          a {
            font-size: 14px;
            font-weight: 400;
            color: #a3a3a3;
            text-decoration: none;

            span {
              padding-left: 5px;
            }
          }
        }

        &:last-child {
          gap: 11px;
        }
      }
    }
  }

  .footerBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    p {
      max-width: 280px;
      font-size: 12px;
      font-weight: 400;
      font-family: "Graphik Trial", sans-serif;
      line-height: 20px;
      color: #a3a3a3;
    }
  }
}
